body {
	background-color: #e4ffff;
	font-family: Bookman Old Style;
}

li {
	float: left;
	padding: 3px;
	width: 450px;
}

li a {
	margin: 5% -7%;
	color: rgb(43, 90, 99);
	font-size: 35px;
	width: 600px;
	font-family: Matura MT Script Capitals;
	padding: 14px 40px;
}

.cc {
	width: 450px;
	float: right;
	margin: right;
}

#rcorners1 {
	border-radius: 12px;
	background: white;
	padding: 15px;
	width: 180px;
	height: 15;
	color: #00767a;
	font-size: 15px;
}

#rcorners2 {
	margin: -7% 0%;
	border-radius: 20px;
	background: #d9fcfd;
	padding: 80px;
	width: 820px;
	height: 700px;
}

#rcorners3 {
	margin: 5% 12%;
	border-radius: 15px;
	background: #6eddac;
	padding: 80px;
	width: 970px;
	height: 950px;
	font-size: 20px;
}

.col-25 {
	float: left;
	width: 15%;
	margin-top: 10px;
}

.row {
	margin: 0%;
}

label {
	padding: 15px 10px 10px 5;
	display: inline-block;
	width: 300%;
}

div {
	border-radius: 5px;
	background-color: #cff8eb;
	padding: 15px;
	float: center;
}

button {
	margin: 2% 2%;
	border-radius: 5px;
	background: aquamarine;
	font-family: Bookman Old Style;
	font-size: 16px;
	text-align: center;
	padding: 8px;
	width: 60px;
}

.search {
	margin: 2% 0%;
	width: 450px;
	font-family: Bookman Old Style;
	font-size: 15px;
	padding: 9px;
	text-align: center;
	border-radius: 15px;
}

input {
	font-family: candara;

	font-size: 15px;
	background-color: white;
	width: 250px;
	padding: 10px;
	border: 3px solid #ccc;
	border-radius: 6px;
	box-sizing: border-box;
	resize: vertical;
	margin: -1% 15%;
}

input[type=submit] {
	background-color: rgb(12, 131, 121);
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-weight: bold;
	font-size: 20px;
}

.dropbtn {
	background-color: #22c197;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	border-radius: 15px;
	background: #1eac86;
	margin: -0% 5%;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown {
	margin: 0% 2%;
	width: 300px;
	padding: 7px;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #23ddac;
}

#content {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: bold;
	width: 100%;
}

#content td,
#content th {
	border: 1px solid #ddd;
	padding: 8px;
}

#content tr {
	background-color: #f2f2f2;
}

#content tr:hover {
	background-color: #ddd;
}

#content th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #6eddac;
	color: white;
}
